.create-quiz {
  &__info {
    text-align: center;

    h1 {
      font-size: 1.4rem;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 1rem;
      color: $color-grey-3;
    }
  }

  &__actions {
    margin-top: 50px;
    @include flex(center, center);
    gap: 20px;
    flex-wrap: wrap;

    &__card {
      min-width: 320px;
      @include flex(center, flex-start);
      background-color: $color-grey-1;
      padding: 10px;
      border-radius: 4px;

      &:hover {
        cursor: pointer;
      }

      &__img {
        width: 40px;
        height: 40px;
        flex: 0 0 40px;

        img {
          object-fit: contain;
        }
      }

      &__text {
        flex: 1 1 100%;
        font-size: 1rem;
        text-align: center;
        padding: 0 10px;
      }
    }
  }
}

.create-quiz-wrapper {
  padding: 20px;
}