.home {
  font-size: 2rem;
}

.home-search {
    position: relative;
    padding: 8px;
    @include flex(center, flex-start);
    width: 90%;
    margin: 0 auto;
    border: 2px solid $color-grey-2;
    background-color: $color-white;
    border-radius: 5px;

  &__input {
    @include flex(center, flex-start);
    height: 25px;
    width: calc(100% - 70px - 10px);

    &__icon {
      font-size: 1.1rem;
      color: $color-grey-2;
      margin: 0 10px;
    }

    input {
      width: calc(100%);
      border: none;
      font-size: 1rem;

      &:focus {
        outline: none;
      }
    }

    &__button {
      position: absolute;
      right: 10px;
      top: 50%;
      width: 70px;
      transform: translateY(-50%);
      padding: 8px 0;
      border-radius: 3px;
      font-size: 0.9rem;
    }
  }
}

.home-search-user {
  @include flex(center, space-between);
  gap: 5px;

  & > select {
    width: fit-content;
  }
}

.home-result-wrapper {
  margin-top: 30px;
}