.profile-info {
  @include flex(center, start);
  gap: 30px;
  padding: 15px 40px;

  &__image-wrapper {
    max-width: 10rem;
    max-height: 100%;
  }

  &__image {
    display: block;
    border-radius: 5%;
  }

  &__text {
    font-size: .9rem;
    position: relative;

    &__username {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 20px;
    }

    &__join-time {
      font-size: .8rem;
      margin-top: 5px;
      font-style: italic;
    }
  }

  &__edit-button {
    @include flex(center, center);
    color: $color-grey-3;
    border: 2px solid $color-grey-3;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(calc(100% + 10px), -50%);

    &:hover {
      cursor: pointer;
      color: $color-grey-4;
    }

    &__icon {
      font-size: 1rem;
    }
  }
}

.profile-info-wrapper,
.profile-charts-wrapper,{
  margin-bottom: 10px;
}

.profile-charts {
  @include flex(center, space-between);
  gap: 10px;
  padding: 10px;

  @include tablet {
    flex-wrap: wrap;
  }

  &__chart {
    width: 50%;
    height: auto;
    padding: 20px 10px;
    @include flex(center, center);
    flex-direction: column;

    @include tablet {
      width: 100%;
    }

    &__title {
      text-align: center;
      margin-bottom: 20px;
      font-size: 1.2rem;
    }

    &__diagram-wrapper {
      @include flex(center, space-between);
      gap: 15px;
    }

    &__diagram {
      max-width: 200px;
    }
  }
}

.profile-takes {
  padding: 10px;

  &__take + &__take {
    margin-top: 10px;
  }

  &__summary {
    @include flex(start, start);
    flex-direction: column;

    &__show-details {
      text-decoration: underline;
      cursor: pointer;
      padding-left: 40px;
      margin-bottom: 15px;
    }
  }
}