.single-choice-editor {
  &__save-quiz-wrapper {
    @include flex(center, flex-end);
    margin: 10px 0 15px;
    gap: 10px;
  }

  &__save-quiz-wrapper {
    margin-top: 20px;
  }

  &__save-quiz-btn {
    padding-left: 10px;
    padding-right: 10px;
    @include flex(center, center);
    gap: 8px;
    color: $color-white;
  }
}

.single-choice-editor-wrapper {
  margin-top: 20px;
  padding: 10px;
}
