.expand-down {
  background-color: $color-grey-1;

  &__top {
    @include flex(center, space-between);
    padding: 15px;
    gap: 15px;

    &__topic {
      font-weight: 600;
      color: $color-grey-5;

      &:is(a) {
        text-decoration: underline;

        &:hover{
          cursor: pointer;
        }
      }
    }

    &__right-group {
      @include flex(center, right);
      gap: 15px;

      &__icon {
        transition: transform 1s ease;
        transform: scaleY(1);
        font-size: 1.4rem;
        color: $color-grey-4;

        &.expanded{
          transform: scaleY(-1);
        }
      }
    }
  }

  &__body {
    animation-name: appearance-animation;
    animation-timing-function: linear;
    animation-duration: 0.15s;
    padding: 15px;
    position: relative;
    font-size: 1rem;

    &:before {
      content: "";
      display: block;
      width: calc(100% - 15px - 15px);
      height: 2px;
      background-color: $color-white;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}


@keyframes appearance-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}