.form-input {
  position: relative;

  &.error-input > &__input {
    border: 2px solid $color-dangerous !important;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 0.6rem;
    transform: translateY(-50%);
    color: $color-grey-3;
    font-size: 1rem;
    padding-right: 2rem;
  }

  &__input {
    padding: 8px 8px;
    border: 2px solid $color-grey-2;
    border-radius: 3px;
    min-height: 24px;
    font-size: 1rem;
    outline: none;
    width: 100%;
    background-color: $color-grey0;
    z-index: 111;

    &:focus {
      transition: border-color 0.3s ease-in-out;
      border-color: $color-grey-3;
    }
  }
}
