.single-choice {
  &__add-question-wrapper {
    @include flex(center, flex-end);
    margin: 10px 0 15px;
    gap: 10px;
  }

  &__add-question-btn {
    padding-left: 10px;
    padding-right: 10px;
    @include flex(center, center);
    gap: 8px;
    color: $color-white;

    &__icon {
      font-size: 0.9rem;
    }
  }

  &__add-question-wrapper {
    margin-top: 40px;
  }
}
