@import '../../assets/scss/variables.scss';

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

.auth-form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.auth-form {
  background-color: $color-secondary;
  padding: 1.5rem 2.5rem;
  margin: 1rem;
  border-radius: 2px;
  box-shadow: 1px 1px 14px 2px $color-grey-2;
  max-width: 25rem;
  width: 90%;
  font-size: .9rem;

  &__submit-error {
    color: $color-dangerous;
    background-color: $color-dangerous-light;
    padding: .3rem;
    margin-bottom: 10px;
    border-radius: 2px;
    text-align: center;
  }

  &__title {
    text-align: center;
    padding-bottom: 2rem;
    text-transform: uppercase;
  }
  
  &__label {
    display: block;
    margin-bottom: .4rem;
  }

  &__label:not(:first-child) {
    margin-top: 1.1rem;
  }

  &__submit {
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: .7rem .4rem;
    margin-top: 2rem;
    font-size: 1rem;
    background-color: $color-grey-4;
    color: $color-grey0;
    font-weight: 500;

    &:hover {
      cursor: pointer;
      transition: background-color .3s ease-in-out;
      background-color: $color-grey-3;
    }

    &:disabled {
      background-color: $color-grey-3;
      cursor: default;
    }
  }

  &__error {
    display: block;
    color: $color-dangerous;
    font-size: .8rem;
    font-weight: 600;
    padding-top: 1.5px;
    letter-spacing: 0.04rem;
  }

  &__text {
    font-size: 0.9rem;
    text-align: center;
    margin-top: 10px;

    a {
      color: $color-primary;
      font-weight: 700;
      text-decoration: underline;
    }
  }
}
